pandas
geopandas
scikit-learn
dash
folium
matplotlib
shapely
openmeteo-requests
requests-cache 
retry-requests
geopy
malariagen_data
geoviews
holoviews
cartopy
xarray
seaborn
contextily
esda
splot
plotnine
rpy2
pandas_datareader